<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <%= link_to image_tag("https://placeholder.pics/svg/150x50/888888/EEE/Logo", border: 0), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li><%= link_to t(".categories"), categories_path, class: "nav-link" if current_user.has_role? :admin %></li>
          <li><%= link_to t(".logout"), destroy_user_session_path, class: "nav-link", data: {
            turbo_method: :delete, turbo_confirm: t('common.confirm') } %></li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acceso
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to t(".login"), new_user_session_path, class: "dropdown-item" %></li>
              <li><%= link_to t(".signup"), new_user_registration_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>