<div class="row gx-4 gx-lg-5 align-items-center">
  <div class="col-xl-6">
    <%= image_tag event.poster.attached? ? event.poster : 'placeholder.jpg', class: "img-fluid rounded" %>
  </div>
  <div class="col-xl-6">
    <h1 class="display-5 fw-bolder"><%= event.name %></h1>
    <p><%= event.ticket_quantity %> entradas disponibles</p>
    <p class="text-justify">
      <%= event.description %>
    </p>
    <div class="fs-5 d-flex">
      <p class="me-3"><%= event.price %>€</p>
      <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 5rem">
      <button class="btn btn-outline-dark" type="button">
        Add to cart
      </button>
    </div>
  </div>
</div>

