<div class="row gx-4 gx-lg-5 align-items-center">
  <div class="col-xl-6">
    <%= image_tag event.poster.attached? ? event.poster : 'placeholder.jpg', class: "img-fluid rounded" %>
  </div>
  <div class="col-xl-6">
    <h1 class="display-5 fw-bolder"><%= event.name %></h1>
    <p><%= event.ticket_quantity %> entradas disponibles</p>
    <p class="text-justify">
      <%= event.description %>
    </p>
    <%= form_tag checkout_path, method: :get do %>
      <div class="fs-5 d-flex col-sm-6">
        <p class="me-3"><%= event.price %>€</p>
        <%= number_field_tag :inputQuantity, 1, class: "form-control text-center me-3", max: 6, min: 1 %>
        <%= hidden_field_tag :id, @event.id %>
        <%= submit_tag "Comprar", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>

