<div class="col">
  <div class="d-flex flex-column w-100">
    <div class="d-flex flex-sm-row flex-wrap gap-2">
      <%= link_to event_path(event.id), class: 'card shadow-sm text-decoration-none' do %>
        <%= image_tag event.poster.attached? ? event.poster : 'placeholder.jpg', class: "" %>
        <div class="card-body">
          <h2><%= event.name %></h2>
          <p class="card-text"><%= event.price %>€</p>
          <p class="card-text"><%= event.description.truncate(100) %></p>
          <p class="card-text"><%= event.date.strftime("%d %B %Y %H:%M") %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
