<%= form_with model: @event do |form| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Nombre evento" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :location, class: "form-label" %>
        <%= form.text_field :location, class: "form-control", placeholder: "Ubicación" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Descripción del evento" %>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :date, class: "form-label" %> <br>
        <%= form.datetime_select :date, class: "form-control"%>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :ticket_quantity, class: "form-label" %>
        <%= form.number_field :ticket_quantity, class: "form-control", placeholder: "Cantidad entradas" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :price, class: "form-label" %>
        <%= form.number_field :price, class: "form-control", step: :any %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :category_id, class: "form-label" %> <br>
        <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name), class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= form.label :poster, class: "form-label" %>
      <%= form.file_field :poster, class: "form-control" %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= form.submit "Aceptar", class: "btn"%>
  </div>
<% end %>