<h1>Compra realizada con éxito</h1>
<p>Número de compra: <%=@order.id%></p>
<p>Evento: <%=@event.name%></p>
<p>Número de entradas: <%=@order.quantity%></p>
<p>Precio por entrada: <%=@order.unit_amount%></p>
<p>Precio total: <%=@order.total%></p>
<%= link_to ('Ver entradas'), order_path(@order), class: "btn"%>