<div class="container py-5">
  <div class="row d-flex justify-content-center">
    <div class="col col-md-8">
      <div class="card" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black session-form">
              <div class="event-form">
                <div class="form-header">
                  <h1><%=@event.name%></h1>
                </div>
                <p>Referencia de compra: <%=@order.id%></p>
                <p>Precio por entrada: <%=@order.unit_amount%>€</p> Número de entradas: <%=@order.quantity%></p> Precio total: <%=@order.total%>€</p>
                <hr>
                <div class="container">
                  <div class="row">
                    <% @tickets.each do |ticket| %>
                      <div class="col-sm-6 col-md-4">
                        <% qrcode = if ticket.qrcode.attached?
                            "data:image/png;base64,#{Base64.strict_encode64(ticket.qrcode.download)}"
                        else
                            "data:image/png;base64,#{Base64.strict_encode64(File.read(Rails.root.join('app', 'assets', 'images', 'placeholder.jpg')))}"
                        end %>

                        <%= image_tag qrcode, class:"qrcode" %>
                        <p>Código: <%= ticket.code %></p>
                      </div>
                    <% end %>
                    <%= link_to ('Ver entradas en PDF'), order_path(@order, format: :pdf), class: "btn", target: '_blank'%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



