<%= form_with(model: category) do |form| %>
  <%= render partial: 'shared/form_errors', locals: { model: category } %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
