<%= form_with(model: category) do |form| %>
  <div class="row">
    <%= render partial: 'shared/form_errors', locals: { model: category } %>

    <div>
      <div class="form-group">
        <%= form.label "Nombre", class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Nombre evento" %>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit "Aceptar", class: "btn"%>
    </div>
  </div>
<% end %>
