<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col col-md-8">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black session-form">
                <%= form_with(model: promoter) do |form| %>
                  <h4 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><%= t(".title") %></h4>
                  <div class="form-outline mb-4">
                    <%= form.label :name, class: "form-label" %>
                    <%= form.text_field :name, class: "form-control" %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= form.label :address, class: "form-label" %>
                    <%= form.text_field :address, class: "form-control" %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= form.label :phone_number, class: "form-label" %>
                    <%= form.phone_field :phone_number, class: "form-control" %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= form.label :cif, class: "form-label" %>
                    <%= form.text_field :cif, class: "form-control" %>
                  </div>
                  <%= render partial: 'shared/form_errors', locals: { model: promoter } %>
                  <div class="pt-1 mb-4 d-flex justify-content-center">
                    <%= form.submit "Finalizar registro", class: "btn" %>
                  </div>
                  <%= link_to ('Registrarse como Cliente'), new_client_path, class: "text-decoration-none" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>