<%= form_with(model: promoter) do |form| %>
  <%= render partial: 'shared/form_errors', locals: { model: promoter } %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.phone_field :phone_number %>
  </div>
  <div>
    <%= form.label :cif, style: "display: block" %>
    <%= form.text_field :cif %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
